<template>
    <div>
        <section class="clearfix px-1 py-2 grey-bg">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-7">
                        <strong>Change Password</strong>
                    </div>
                    <div class="col text-right">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">
                                <a @click.stop.prevent="onCancel"
                                   href="#" class="btn w110 discard">Discard</a>
                            </li>
                            <li class="list-inline-item">
                                <a @click.stop.prevent="onSubmit"
                                   href="#" class="btn w110 green">Save</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix px-1 pt-4 pb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <form v-on:submit.prevent="onSubmit" method="post">
                            <div class="form-group">
                                <p class="mb-2"><strong>Old Password</strong></p>
                                <input v-model="state.form.fields.old_password" required
                                       type="password" name="" class="form-control" placeholder="Type Your Old Password">
                            </div>

                            <div class="form-group">
                                <p class="mb-2"><strong>New Password</strong></p>
                                <input v-model="state.form.fields.password" required
                                       type="password" name="" class="form-control" placeholder="Type Your New Password">
                            </div>

                            <div class="form-group">
                                <p class="mb-2"><strong>Repeat New Password</strong></p>
                                <input v-model="state.form.fields.password_confirmation" required
                                       type="password" name="" class="form-control" placeholder="Repeat Your New Password">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </section>
    </div>
</template>

<script>
    import {default as code} from './component.js'
    export default code
</script>
