<template>
    <!-- Modal -->
    <div ref="modal"
         class="modal fade" id="delete-contacts-modal" tabindex="-1" role="dialog" aria-labelledby="add-server-modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-server-modalLabel">{{state.config.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p><strong>{{state.config.message}}</strong></p>
                    </div>

                    <div class="clearfix"></div>
                    <div class="row mt-4">
                        <div class="col">
                            <a href="#" class="btn btn-lg w110 discard" data-dismiss="modal">{{state.config.cancel}}</a>
                        </div>
                        <div class="col text-right">
                            <a @click.stop.prevent="onSubmit"
                               href="#" class="btn btn-lg w110 danger">{{state.config.submit}}</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {default as code} from './script.js'
    export default code
</script>
