/*========================================== *** HTML TAG STYLES ==========================================*/
 body {
     font-family: 'Open Sans', sans-serif;
     font-weight:normal;
     background: #FFF;
     color: #1b1d20;
     font-size:16px;
     line-height:30px;
     position:relative;
     overflow-x:hidden !important;
}
/*========================================== *** SHELL STYLES ==========================================*/
 a {
    color:#4f8eff;
     text-decoration:none;
     outline: none !important;
     display: inline-block;
     -moz-transition: all 300ms ease-out;
     -o-transition: all 300ms ease-out;
     transition: all 300ms ease-out;
}
 a:focus, a:hover {
    color:#4f8eff;
     text-decoration:underline;
}

 button {
    border:none;
     outline: none !important;
}
 .image-full {
    width:100%;
     max-width:100%;
}
 .form-control::-webkit-input-placeholder {
    color:#a3a3a3;
}
 .form-control:-moz-placeholder {
    color:#a3a3a3;
}
 .form-control::-moz-placeholder {
    color:#a3a3a3;
}
 .form-control:-ms-input-placeholder {
    color:#a3a3a3;
}
 .btn {
    font-size:12px;
     line-height: 14px;
     border-radius: 4px;
     padding:7px 22px;
     box-shadow:none;
     font-weight: 700;
     color: #FFF;
     background-color: #4f8eff;
     border-color:#4f8eff;
}
 .btn.focus, .btn:focus, .btn:hover {
    box-shadow:none !important;
     background-color: #4f8eff;
     color: #FFF;
     opacity: 0.9;
}
 .btn.green-light {
    color: #1b1d20;
     background-color: #e5f6f1;
     border-color:#bdd5ce;
}
 .btn.green-light.focus, .btn.green-light:focus, .btn.green-light:hover {
    color: #1b1d20;
     background-color: #bdd5ce;
     border-color:#bdd5ce;
}
 .btn.discard {
    color: #FFF;
     background-color: #ababab;
     border-color:#ababab;
}
 .btn.discard.focus, .btn.discard:focus, .btn.discard:hover {
    color: #FFF;
     background-color: #ababab;
     border-color:#ababab;
}
 .btn.green {
    color: #FFF;
     background-color: #0b7858;
     border-color:#0b7858;
}
 .btn.green.focus, .btn.green:focus, .btn.green:hover {
    color: #0b7858;
     background-color: #FFF;
     border-color:#0b7858;
}
 .btn.danger {
    color: #FFF;
     background-color: #ff5555;
     border-color:#ff5555;
}
 .btn.danger.focus, .btn.danger:focus, .btn.danger:hover {
    color: #ff5555;
     background-color: #FFF;
     border-color:#ff5555;
}
 .btn.blue {
    color: #FFF;
     background-color: #4f8eff;
     border-color:#4f8eff;
}
 .btn.blue.focus, .btn.blue:focus, .btn.blue:hover {
    color: #4f8eff;
     background-color: #FFF;
     border-color:#4f8eff;
}
 .btn.orange {
    color: #FFF;
     background-color: #f3b303;
     border-color:#f3b303;
}
 .btn.orange.focus, .btn.orange:focus, .btn.orange:hover {
    color: #f3b303;
     background-color: #FFF;
     border-color:#f3b303;
}
 .btn.blue-light {
    color: #FFF;
     background-color: #6cb5e8;
     border-color:#6cb5e8;
}
 .btn.blue-light.focus, .btn.blue-light:focus, .btn.blue-light:hover {
    color: #6cb5e8;
     background-color: #FFF;
     border-color:#6cb5e8;
}
 .btn .ion, .btn .fa {
    margin-left:5px;
}
 .btn-lg {
    padding:11px 22px;
     font-size:14px;
     line-height: 16px;
}
 .w110 {
    width:110px;
     max-width:100%;
}
 .w220 {
    width:220px;
     max-width:100%;
}
 .form-control, .form-control:focus {
    outline:none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     background-color:#FFF;
     border-radius:3px;
     border:1px solid #ababab;
     font-size:17px;
     line-height:24px;
     height:auto;
     padding: 7px 15px;
     color:#000000;
}
 .form-control:disabled, .form-control[readonly], .form-control:disabled:focus, .form-control[readonly]:focus {
    background-color: #f0f5f7;
     color: #9ea1a3;
}
 .form-group label {
    font-weight: 700;
     font-size: 14px;
     line-height: 16px;
     margin-bottom: 8px;
     display: block;
     width: 100%;
}
 .form-group {
    margin-bottom: 20px;
}
 ul {
    margin:0;
     padding:0;
}
 .navbar {
    padding:0;
     margin-bottom:120px;
}
 .h1, h1 {
    font-weight: bold;
     font-size: 60px;
     line-height: 65px;
}
 .h2, h2 {
    font-weight: bold;
     font-size: 40px;
     line-height: 45px;
}
 .image-shadow {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
     -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
     box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}
 .text-green {
    color:#76c199;
}
 .text-grey {
    color:#a8bfbc;
}
 .text-red {
    color:#f1696d;
}
 .h50 {
    height:50px;
}
 header {
    position: fixed;
     width: 100%;
     display: flex;
     background-color: #04a777;
     height: 50px;
     left: 0;
     top: 0;
     z-index: 10;
}
 header .menu li {
    margin-left:-4px;
}
 header .menu a {
    font-size:18px;
     line-height: 20px;
     font-weight: bold;
     color: #e5f6f1;
     padding:15px 20px;
}
 header .menu a:hover, header .menu a.active, header .menu a.active:hover {
    color:#FFF;
     background-color: #0b7858;
     text-decoration: none;
}
 header .logo a {
    margin-top:-5px;
}
 header .dropdown-toggle {
    font-size:14px;
     line-height: 16px;
     font-weight: bold;
     color: #FFF;
     padding: 8px 0;
}
 header .dropdown-toggle .avatar {
     display: inline-block;
     vertical-align: middle;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     border:2px solid #FFF;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     margin-left:5px;
}
 header .dropdown-toggle::after {
    display:none;
}
 header .dropdown-menu {
    padding:0;
     top:70px;
}
 header .dropdown-item {
    font-size:14px;
     line-height: 18px;
     font-weight: normal;
     padding:0;
     margin:15px 15px;
     width: auto;
     color: #1b1d20;
     background-color: transparent !important;
}
 header .dropdown-item.active, header .dropdown-item:active, header .dropdown-item:focus, header .dropdown-item:hover {
    font-weight: 600;
     color: #4f8eff;
}
 .single-stats {
    height:100px;
     border-radius: 5px;
     background-color: #f0f5f7;
     font-size: 14px;
     line-height: 16px;
     position: relative;
     padding-left: 100px;
}
 .single-stats .icon {
    width:60px;
     height: 60px;
     border-radius: 50%;
     color: #FFF;
     text-align: center;
     line-height: 60px;
     background-color: #1baada;
     font-size: 30px;
     position: absolute;
     left: 20px;
     top: 50%;
     margin-top: -30px;
}
 .single-stats .icon svg {
    height:30px;
}
 .single-stats strong {
    font-size:30px;
     line-height: 30px;
}
 .single-stats .icon.violet {
    background-color: #9e16b4;
}
 .single-stats .icon.orange {
    background-color: #f3b712;
}
 .box-widt-icon {
    padding-left:40px;
     position: relative;
}
 .box-widt-icon .icon {
    width:30px;
     height: 30px;
     border-radius: 50%;
     color: #FFF;
     text-align: center;
     line-height: 30px;
     background-color: #1baada;
     font-size: 15px;
     position: absolute;
     left: 0px;
     top: 50%;
     margin-top: -15px;
}
 .box-widt-icon .icon svg {
    height:15px;
}
 .box-widt-icon .icon.violet {
    background-color: #9e16b4;
}
 .box-widt-icon .icon.orange {
    background-color: #f3b712;
}
 .table-hover tbody tr:hover {
    background-color: rgba(229,246,241,1);
}
/* Custom Checkboxes */
 .checkbox, .radio {
    position: relative;
     display: inline-block;
}
 .checkbox label, .radio label {
    padding-left: 0px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     margin:0;
     padding:0;
     position: relative;
     padding-left: 25px;
     display: inline-block;
     vertical-align: top;
}
 .checkbox label:after, .radio label:after {
    content: '';
     display: table;
     clear: both;
}
 .checkbox .cr, .radio .cr {
    display: inline-block;
     border: 1px solid #ababab;
     margin-bottom:-2px;
     border-radius: 4px;
     width: 18px;
     height: 18px;
     float: left;
     background-color: #ffffff;
     position: absolute;
     left: 0;
     top:6px
}
 .checkbox.standard .cr, .radio.standard .cr {
    top:0;
}
 .checkbox .cr:hover, .radio .cr:hover {
    cursor:pointer;
}
 .radio .cr {
    border-radius: 50%;
}
 .checkbox .cr .cr-icon, .radio .cr .cr-icon {
    position: absolute;
     font-size: 12px;
     line-height: 0;
     top: 50%;
     left: 50%;
     margin-left:-6px;
     color: #FFF;
}
 .radio .cr .cr-icon {
    margin-left: 0.04em;
}
 .checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: none;
}
 .checkbox label input[type="checkbox"]:checked + .cr, .checkbox label input[type="radio"]:checked + .cr {
    border-color:#4f8eff;
     background-color: #4f8eff;
}
 .checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(1) rotateZ(-20deg);
     opacity: 0;
     transition: all .1s ease-in;
}
 .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
     opacity: 1;
}
 .checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
 .table .disabled {
    color:#ababab;
}
 .table thead th {
    border-top:none;
     font-size:12px;
     line-height: 14px;
     font-weight: 400;
     color: #ababab;
}
 .grey-bg {
    background-color: #f0f5f7;
}
 .modal-body {
    padding:20px;
}
 .modal-header {
    padding:15px 20px;
     background-color: #f0f5f7;
     border:none;
     border-radius: 6px 6px 0 0;
}
 .modal-title {
     font-size: 16px;
     line-height: 18px;
}
 .modal-header .close {
    padding:0;
     margin:0;
     position: absolute;
     right: 10px;
     top: 10px;
}
 .grey-box {
    width:100%;
     display: block;
     padding: 10px;
     border-radius: 5px;
     background-color: #f0f5f7;
}
 .row-small {
    margin-left:-5px;
     margin-right: -5px;
}
 .col-small {
    padding-left:5px;
     padding-right: 5px;
}
 .profile-image {
    width:60px;
     height: 60px;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
}
 .stars-rating {
    display:inline-block;
     vertical-align: middle;
}
 .stars-rating li {
    float: left;
     display: block;
     font-size: 16px;
     line-height: 18px;
     color: #ababab;
}
 .stars-rating li.active {
    color:#f3b303;
}
 .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #1b1d20;
}
 .select2-container--default .select2-selection--single {
    outline:none !important;
     color: #1b1d20;
     border-color: #ababab;
}
 .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--classic .select2-selection--single:focus {
    outline:none !important;
}
 .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
     line-height: 16px;
     padding: 0;
}
 .select2-container .select2-selection--single {
    height: auto;
     padding:11px 10px;
     padding-right: 25px;
}
 .select2-container--default .select2-selection--single .select2-selection__arrow {
    height:38px;
}
 .select2-results__option {
    padding:10px;
     font-size:14px;
     line-height: 16px;
}
 .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #0b7858;
}
 .select2-results ul li:last-child {
    border-radius: 0 0 4px 4px ;
}
 .table .unsubscribed {
    display: inline-block;
     vertical-align: middle;
     color: #FFF;
     background-color: #ababab;
     border-radius: 4px;
     padding: 4px;
     font-size: 12px;
     line-height: 13px;
}
 .table .disabled .stars-rating li {
    color:#ababab !important;
}
 @media (min-width: 576px) {
     .modal-sm {
         max-width: 350px;
    }
}
 .drag-here-box {
    height: 100px;
     background-color: #f0f5f7;
     border-radius: 5px;
     border:1px dashed #ababab;
     font-weight: 700;
     font-size: 14px;
     line-height: 16px;
}
 .drag-here-box a {
    color:#1b1d20;
     text-decoration: underline;
     margin-left: 6px;
}
 .nav-tabs {
    border:none;
}
 .nav-tabs .nav-item {
    padding:0;
     margin:0 40px 20px 0;
     color: #1b1d20;
     font-size: 14px;
     line-height: 16px;
     font-weight: 700;
     padding-bottom: 12px;
     border:none;
     border-bottom: 2px solid transparent;
}
 .nav-tabs .nav-item:last-child {
    margin-right: 0;
}
 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border:none;
     border-bottom: 2px solid #0b7858;
}
 .box-list-scroll {
    height:300px;
     overflow: hidden;
     overflow-y: scroll;
     border-radius: 4px;
     padding: 10px;
     border:1px solid #ababab;
}
 .table .fa.fa-check-circle {
    color:#04a777;
}
 .table .fa.fa-times-circle {
    color:#ff5555;
}
 .w-20 {
    width:20%;
}
 .contact-stats {
    border:1px solid #ababab;
     border-right: 0;
     font-style: 16px;
     line-height: 18px;
}
 .contact-stats:last-child {
    border-right:1px solid #ababab;
}
 .contact-stats span {
    display:block;
     width: 100%;
     font-size: 12px;
     line-height: 14px;
     color: #ababab;
     margin-bottom: 5px;
}
 .contact-single {
    padding-left: 42px;
     position: relative;
     margin-bottom: 10px;
     font-size: 24px;
     line-height: 28px;
     font-weight: 700;
}
 .contact-single .avatar {
    width:30px;
     height: 30px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     background-color:#ababab;
     position: absolute;
     left: 0;
     top: 50%;
     margin-top:-15px;
}
 .contact-single .avatar.empty:before {
    content: '';
     position: absolute;
     left: 50%;
     top: 50%;
     margin-top: -8px;
     margin-left:-7px;
     height: 16px;
     width:14px;
     background-repeat: no-repeat;
     background-size: auto 16px;
     background-image: url('../images/icon-user.svg');
}
 .contact-single .avatar.template:before {
    content: "\f15c";
     font-family: "FontAwesome";
     position: absolute;
     color: #f0f5f7;
     font-size: 14px;
     margin-left:-6px;
}
 .contact-stats.auto {
    width:auto;
     min-width:150px;
}
 .email-preview {
    display: block;
     width: 100%;
     border-radius: 5px;
     border:1px solid #ababab;
     font-size:14px;
     line-height: 18px;
}
 .email-preview .top {
    background-color: #f0f5f7;
     width: 100%;
     border-radius: 5px 5px 0 0;
     padding:15px 20px;
}
 .email-preview .content {
    height:250px;
     overflow: hidden;
     overflow-y: scroll;
     padding: 20px;
}
 .email-preview .top.border-bottom {
    border-bottom: 1px solid #ababab;
}
 .email-preview .top small {
    color:#ababab;
     font-size:100%;
}
 .alert-danger {
    border-color:#ff5555;
     background-color: #ffeeee;
     color: #ff5555;
     font-size:14px;
     line-height: 18px;
}
 .alert-danger small {
    font-size:12px;
     line-height: 16px;
}
 .alert-success {
    border-color:#04a777;
     background-color: #cdede4;
     color: #0b7858;
     font-size:14px;
     line-height: 18px;
}
 .alert-success a {
    color:#0b7858;
     text-decoration: underline;
}
 .unsubscribe-box {
     max-width: 500px;
     margin: 150px auto;
}
 @media (max-width: 1300px) {
     body {
        width:1300px;
         overflow-x: scroll !important;
    }
     header {
        position: absolute;
    }
     .unsubscribe-box {
        margin-right: 40px auto;
    }
}
