<template>
    <form v-on:submit.prevent="onSubmit" method="post" id="profile-form" enctype="multipart/form-data">
        <section class="clearfix px-1 py-2 grey-bg">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-7">
                        <strong>Profile Settings</strong>
                    </div>
                    <div class="col text-right">
                        <ul class="list-inline list-unstyled">
                            <li class="list-inline-item">
                                <a @click.stop.prevent="onCancel"
                                   href="" class="btn w110 discard">Discard</a>
                            </li>
                            <li class="list-inline-item">
                                <button type="submit" class="btn w110 green">Save</button>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix px-1 pt-4 pb-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            <p class="mb-2"><strong>First Name</strong></p>
                            <input v-model="state.form.fields.first_name"
                                   type="text" name="" class="form-control" placeholder="First Name">
                        </div>

                        <div class="form-group">
                            <p class="mb-2"><strong>Last Name</strong></p>
                            <input v-model="state.form.fields.last_name"
                                   type="text" name="" class="form-control" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <p class="mb-2"><strong>Your Email</strong></p>
                            <input v-model="state.form.fields.email"
                                   type="text" name="" class="form-control" placeholder="Your Name" disabled>
                        </div>

                        <div class="form-group">
                            <p class="mb-2"><strong>Profile Photo</strong></p>
                            <div :style="{'background-image': 'url('+state.avatarImage+')'}"
                                 class="rounded-circle profile-image"></div>
                        </div>

                        <div class="form-group">
                            <ul class="list-inline list-unstyled">
                                <li v-if="state.showRemove"
                                    class="list-inline-item">
                                    <a @click.stop.prevent="removeImage"
                                       href="#" class="btn danger">Remove Current</a>
                                </li>
                                <li class="list-inline-item">
                                    <load-avatar-component @avatarLoaded="avatarLoaded"></load-avatar-component>
                                    <!--<a href="#" class="btn blue">Upload New</a>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </form>

</template>

<script>
    import {default as code} from './component.js'
    export default code
</script>

