<template>
    <file-upload
            class=""
            :post-action="config.action"
            :extensions="config.extensions"
            :data="config.data"
            :dropDirectory="false"
            :multiple="false"
            :size="0"
            :thread="5"
            :name="config.name"
            v-model="files"
            @input-filter="inputFilter"
            @input-file="inputFile"
            ref="upload">
        <span class="btn blue">Upload New</span>
    </file-upload>
</template>

<script>
    import FileUpload from 'vue-upload-component'

    export default {
        components: {FileUpload},
        data() {
            return {
                config: {
                    name: 'file',
                    action: window.appConfig.routes['settings.ajax-avatar'],
                    data: {'_token': window.appConfig.token},
                    extensions: 'gif,jpg,jpeg,png,bmp,tiff'
                },
                files: [],
            }
        },
        computed: {},
        methods: {
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    // Before adding a file
                    // Filter system files or hide files
                    if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
                        return prevent()
                    }
                    // Filter php html js file
                    if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }
            },
            inputFile(newFile, oldFile) {
//                if (newFile && !oldFile) {
//                    console.log('add', newFile)
//                }
//                if (newFile && oldFile) {
//                    console.log('update', newFile)
//                }
//                if (!newFile && oldFile) {
//                    // remove
//                    console.log('remove', oldFile)
//                }

                if (newFile && newFile.success || false){
                    this.$emit('avatarLoaded', newFile.response);
                }


                // auto start
                if (!this.$refs.upload.active) {
                    this.$refs.upload.active = true;
                }
            }
        },
        mounted(){
            cons('UPL');
        }
    }
</script>
