<template>
    <select :disabled="disabled">
        <slot></slot>
    </select>
</template>

<script>
    export default {
        props: ['options', 'value', 'disabled'],
        data() {
            return {
                config: {
                    data: this.options,
                    minimumResultsForSearch: -1
                }
            }
        },
        mounted() {
            var _this = this;

            $(this.$el)
                .select2(_this.config)
                .val(this.value)
                .trigger('change')
                .on('change', function () {
                    // emit event on change.
                    _this.$emit('input', this.value)
                })
        },
        watch: {
            value: function (value) {
                //alert(value);
                // update value
                $(this.$el).val(value).trigger('change').trigger('change.select2');
            },
            options: function (options) {
                // update options
                $(this.$el).empty().select2(this.config);
            }
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>
