/* open-sans-regular - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
               url('../../fonts/open-sans-v15-latin-ext_cyrillic_greek_greek-ext_latin_cyrillic-ext-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}