@media (min-width: 1430px){
    .wrapper {
        max-width: 1400px;
    }
}
@media screen and (max-width: 991px){
    .title{
        font-size: 110px;
        margin-top: 178px;
    }
    .txt{
        margin: 50px auto 40px;
    }
}
@media screen and (max-width: 400px){
    .title{
        font-size: 60px;
    }
}