//------------------------------------------//
.w100 {
  width: 100px !important;
}
.w100pr {
  width: 100% !important;
}
.mb100 {
  margin-bottom: 100px;
}
//------------------------------------------//