.n-a {
  opacity: 0.3 !important;
}
.form-signin {
  max-width: 330px;
  padding:   15px;
  margin:    0 auto;
}
.show-text {
  height:     120px;
  overflow-y: scroll;
  padding:    3px;
}
span.red {
  color: #ff3434;
}
span.blue {
  color: #0455d6;
}
span.green {
  color: green;
}
.sub-label {
  min-width: 120px;
}
.table .sf-dump {
  z-index: initial;
}
pre {
  display:          block;
  padding:          5px;
  margin:           0 0 9px;
  font-size:        10px;
  line-height:      1.1;
  word-break:       break-all;
  word-wrap:        break-word;
  color:            #333;
  background-color: #e4e4e4;
  border:           1px solid #ccc;
  border-radius:    4px;
}
a.thumbnail img {
  max-width:  100%;
  max-height: 100%;
}

#login{
  background: #f0f5f7;
  height: 330px;
  max-width: 450px;
  margin-top: 10%;
}

#login img{
  width: 180px;
  margin: 0 0 22px;
}

#login input{
  font-size: 14px;
}

#login button{
  background: #0b7858;
  border-color: #0b7858;
  width: 130px;
}