.form-horizontal {
  .form-group {
    margin-left:  0;
    margin-right: 0;
  }
  fieldset {
    border:        1px solid lightgray;
    background:    #eaeaea;
    border-radius: 3px;
    padding:       5px;
    margin-bottom: 10px;
    .form-group {
      margin: 0;
      width:  100%;
      label {
        font-weight:   normal;
        width:         18%;
        text-align:    right;
        padding-right: 15px;
        display:       inline;
      }
      .form-control {
        width: 80%;
      }
    }
  }
}
//
body {
  .btn-group-sm > .btn,
  .btn-sm {
    line-height: 1em;
  }
}
table.table td.actions {
  a + a {
    margin-left: 5px;
  }
  &.vertical {
    text-align: center;
    a {
      display: inline-block;
      width:   90%;
    }
    a + a {
      margin-top:  5px;
      margin-left: 0;
    }
  }
}