<template>
    <div style="display: inline">
        <a @click.stop.prevent="deleteSelected"
           :class="buttonClass"
           href="#" class="btn danger">Delete Selected</a>

        <confirm-modal ref="modal" :config="modalConfig" @submit="onSubmit"></confirm-modal>
    </div>
</template>

<script>
    import {default as code} from './script.js'
    export default code
</script>