<template>
    <!-- Modal -->
    <div ref="modal" class="modal fade" id="create-list-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-server-modalLabel">
                        {{ state.form.fields.id ? 'Edit' : 'Create'}} List
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form @submit.prevent.stop="onSubmit">
                        <div class="form-group">
                            <label>List Name</label>
                            <input v-model="state.form.fields.name"
                                   type="text" class="form-control" placeholder="List Name">
                        </div>

                        <div class="clearfix"></div>
                        <div class="row mt-4">
                            <div class="col">
                                <a href="#" class="btn btn-lg w110 discard" data-dismiss="modal">Discard</a>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-lg green">Submit</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import {default as code} from './component.js'
    export default code
</script>
